:root {
  --color-most-dark: rgb(48, 76, 137);
  --color-dark: rgb(100, 141, 229);
  --color-light: rgb(158, 183, 229);
  --color-accent: rgb(247, 197, 159);
  --color-alert: rgb(255, 107, 53);
}

.btn {
  color: #fff;
  background-color: var(--color-most-dark);
  border-radius: 10px;
  padding: 3px 10px 5px;
}

.btn:hover {
  background-color: var(--color-dark);
  color: #e8e8e8;
}

.btn:focus {
  box-shadow: unset;
}
